/* Artikel */

body {
    margin: 0;
    padding: 0;
  }
  
  #container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #ECECEC;
  }
  
  /* Sidebar */
  
  #sidebar {
    position: absolute;
    width: 316px;
    height: 100%;
    background: #F4F4F4;
    box-shadow: -22px -22px 44px rgba(122, 122, 122, 0.2),
      22px 22px 44px rgba(122, 122, 122, 0.2),
      -22px 22px 44px rgba(255, 255, 255, 0.9),
      22px -22px 55px rgba(122, 122, 122, 0.9),
      inset 1px -1px 2px rgba(255, 255, 255, 0.3),
      inset -1px 1px 2px rgba(122, 122, 122, 0.5);
  }
  
  /* Profile */
  
  #profile {
    position: absolute;
    left: -0.4%;
    right: 40.48%;
    top: 47.85%;
    bottom: 35.82%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Logout */
  
  #logout {
    position: absolute;
    left: 13.89%;
    right: 50.79%;
    top: 70.2%;
    bottom: 18.62%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
  }
  
  /* Vector */
  
  #vector {
    position: absolute;
    left: 17.17%;
    right: 17.18%;
    top: 17.17%;
    bottom: 17.18%;
    background: #000000;
    box-shadow: 0px 2.64151px 2.64151px rgba(0, 0, 0, 0.25);
  }
  
  /* Line 3 (Stroke) */
  
  #line3 {
    position: absolute;
    left: 1.58%;
    right: 1.58%;
    top: 10.27%;
    bottom: 89.63%;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.37deg);
  }
  
  /* Icons */
  
  .icons {
    position: absolute;
  }
  
  .icons img {
    position: absolute;
  }
  
  .icons .user-icon {
    left: 13.29%;
    right: 71.84%;
    top: 81.9%;
    bottom: 13.29%;
    background: url(icons8-user-24.png);
  }
  
  .icons .pokeball-icon {
    left: 13.29%;
    right: 72.78%;
    top: 26.96%;
    bottom: 68.9%;
    background: url(icons8-pokeball-26.png);
  }
  
  .icons .pokemon-icon {
    left: 13.29%;
    right: 72.78%;
    top: 35.91%;
    bottom: 59.94%;
    background: url(icons8-pokemon-32.png);
  }
  
  .icons .home-icon {
    left: 13.29%;
    right: 72.78%;
    top: 18%;
    bottom: 77.85%;
    background: url(icons8-home-24.png);
  }
  
  /* Team Planner */
  
  #teamPlanner {
    position: absolute;
    width: 177.97px;
    height: 19.47px;
    left: 90.09px;
    top: 392.76px;
  }
  
  /* Pokedex */
  
  #pokedex {
    position: absolute;
    width: 105px;
    height: 19.47px;
    left: 93.34px;
    top: 299.76px;
  }
  
  /* Article Content */
  
  #articleContent {
    position: absolute;
    width: 940px;
    height: 1669px;
    left: 51px;
    top: 788px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
  
  /* Ad Section */
  
  #adSection {
    position: absolute;
    width: 1073px;
    height: 425px;
    left: 271px;
    top: 2664px;
    background: url(ad.png);
  }
  
  /* Frames */
  
  .frame {
    position: absolute;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
  }
  
  /* Date and Time */
  
  #date {
    position: absolute;
    left: 36px;
    right: 28px;
    top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  
  /* Time */
  
  #time {
    position: absolute;
    left: 38px;
    right: 25px;
    top: 72px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }
  
  /* Groups */
  
  .group {
    position: absolute;
  }
  
  .group #group3 {
    left: 1200px;
    right: 21.5%;
    top: 1998px;
    bottom: 36.58%;
  }
  
  .group #group7 {
    left: 1010px;
    right: 16.11%;
    top: 2642px;
    bottom: 30.84%;
  }
  