/* General Styles */
body {
    margin: 0;
    padding: 0;
}

/* Pokedex Container */
#pokedex-container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #ECECEC;
}

/* Sidebar */
.sidebar {
    position: absolute;
    width: 316px;
    height: 1061px;
    left: 0px;
    top: 0px;
    background: #F4F4F4;
    /* Add your box-shadow here */
}

/* Navigation Icons */
.icon {
    position: absolute;
    background-size: cover;
    /* Add common styles for your icons */
}

/* Logout Icon */
.logout-icon {
    /* Define position and other styles */
    left: 0%;
    right: 31.25%;
    top: 0%;
    bottom: 31.25%;
    background: url(icons8-logout-64.png); /* Replace with actual URL */
}

/* Profile Text */
.profile-text {
    /* Define position and other styles */
    left: -0.4%;
    right: 40.48%;
    top: 47.85%;
    bottom: 35.82%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

/* Search Input */
.search-input {
    /* Define position and other styles */
    width: 394px;
    height: 21px;
    left: 0px;
    top: 215px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #666666;
}

/* Pokedex Container Scrollable Content */
#pokedex-content {
    position: absolute;
    width: 1064px;
    height: 1001px;
    left: 367px;
    top: 23px;
    overflow-y: scroll;
}

/* Pokemon Card */
.pokemon-card {
    position: relative;
    width: 232px;
    height: 229.46px;
    background: url(.png); /* Replace with actual URL */
}

/* Pokemon Name */
.pokemon-name {
    /* Define position and other styles */
    width: 214px;
    height: 44.55px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
}
