/* sign in */

body {
  margin: 0;
  padding: 0;
}

#signin-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #FFFFFF;
}

/* page pokemon 2 */
#page-pokemon-2 {
  position: absolute;
  width: 778px;
  height: 1024px;
  left: 662px;
  top: 0px;
  background: url(image/pokemon.jpg);
}

/* Frame 5 */
#frame-5 {
  position: absolute;
  width: 662px;
  height: 1069px;
  left: 0px;
  top: -11px;
}

/* logo_login-removebg-preview 1 */
.logo-image {
  position: absolute;
  width: 492px;
  height: 212px;
  left: 85px;
  top: 39px;
  background: url(image/logo.png);
}

/* Sign In */
.signin-title {
  position: absolute;
  width: 155px;
  height: 57px;
  left: 63px;
  top: 323px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

/* Your Nickname */
#nickname-label {
  position: absolute;
  width: 253px;
  height: 26px;
  left: 63px;
  top: 403px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* Password */
#password-label {
  position: absolute;
  width: 253px;
  height: 26px;
  left: 63px;
  top: 482px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* Rectangle 5 */
.input-rectangle {
  position: absolute;
  width: 487px;
  height: 38px;
  left: 63px;
  top: 429px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Rectangle 6 */
#rectangle-6 {
  box-sizing: border-box;
  position: absolute;
  left: 9.52%;
  right: 16.92%;
  top: 47.52%;
  bottom: 48.92%;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* Frame 4 */
#frame-4 {
  position: absolute;
  width: 255px;
  height: 52px;
  left: 61px;
  top: 665px;
  background: #F39C12;
  border-radius: 30px;
}

/* Sign In */
#signin-button {
  position: absolute;
  width: 237px;
  height: 45px;
  left: 84px;
  top: 3px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #DC143C;
}

/* Don’t have an account? Sign up */
#signup-link {
  position: absolute;
  left: 9.52%;
  right: 53.47%;
  top: 67.45%;
  bottom: 30.31%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
